* {
    box-sizing: border-box;
}

body {
  background-color:#CCAADD;
}

p, #output {
   margin: 10px;
   font-size: 14px;
   font-family: Raleway;
   line-height: 20px;
}

.values{
  margin: 10px;
  font-size: 14px;
  font-family: Raleway;
  text-align: center;
  height: 30px;
  width: 355px;
  display: block;
}

.buttons {
    margin: 10px;
    font-weight: bold;
    font-family: Open Sans;
    text-align: center;
    color: #696969;
    height: 30px;
    width: 355px; 
    display: block;
}