body {
     background-color:#CCAADD;
}

p {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 16px;
    color: #4a4344;
}

input[type="text"] {
    font-family: Open Sans;
    font-size: 14px;
    color: #4a4344;
    margin-top: 5px;
    text-indent: 3px;
    height: 30px;
    width: 200px;
}

input[type="button"] {
    font-family: Open Sans;
    font-size: 14px;
    color: #4a4344;
    margin-top: 5px;
    text-align: center;
    height: 35px;
    width: 100px;
}

#output {
   font-family: Open Sans;
   font-size: 14px;
   color: #4a4344;
   margin-top: 15px; 
}